<h1> Lista de Gêneros </h1>

<ul>
    <% @genres.each do |genre| %>
        <li>
            <%= link_to genre.name, genre_path(genre) %>
        </li>
    <% end %>
</ul>

<%= link_to "Novo gênero", new_genre_path %>